<!--Notes: Make the section above this stitch have a:
    padding-bottom: clamp(25rem, 30vw, 28.125rem);
-->
                                
<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1865">
    <div class="cs-container">
        <div class="cs-subscribe">
            <span class="cs-topper">Subscribe to Us</span>
            <h2 class="cs-title">Subscribe To Our Newsletter</h2>
            <p class="cs-text">You may also fill out the form below and we will respond as quickly as possible.</p>
            <form class="cs-form" name="Contact Form" method="post">
                <input class="cs-input" type="email" id="cs-email-1865" name="find-us" placeholder="Enter your email" required="">
                <button class="cs-button-solid cs-submit" type="submit">Subscribe</button>
            </form>
        </div>
        <!--Top Section-->
        <div class="cs-top">
            <!--Warpped logo in wrapper div so that div can be 100% width to force the lists below it to stay in their line.  The cs-logo can maintain its' max width. we didn't want it 100% width becuase then the blank area to the right of the logo will also result in a click and hover event. -->
            <div class="cs-logo-wrapper">
                <ul class="cs-social">
                    <li class="cs-social-li">
                        <a href="" class="cs-social-link" rel="noopener" target="_blank" aria-label="">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-facebook.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        </a>
                    </li>
                    <li class="cs-social-li">
                        <a href="" class="cs-social-link" rel="noopener" target="_blank" aria-label="">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-linkedin.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        </a>
                    </li>
                    <li class="cs-social-li">
                        <a href="" class="cs-social-link" rel="noopener" target="_blank" aria-label="">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-derm-footer.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        </a>
                    </li>
                    <li class="cs-social-li">
                        <a href="" class="cs-social-link" rel="noopener" target="_blank" aria-label="">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-tiktok.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Bottom Section-->
        <div class="cs-bottom">
            <!--Navigation-->
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">Home</a>
                </li>
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">About</a>
                </li>
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">Services</a>
                </li>
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">Classes</a>
                </li>
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">Blog</a>
                </li>
            </ul>
            <span class="cs-copyright">
                © Copyright 2024 - <a href="" class="cs-copyright-link">Zack Freeman</a>
            </span>
        </div>
    </div>
</footer>
                                