---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1427">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Hello, <br>I'm Zack.</h1>
            <h2 class="cs-text">Forty <span class="little">something</span> isn't too old to start coding, you know.</h2>
            <p class="cs-text">
                I bring over 20 years of expertise in IT, clinical management, and now web development.
            </p>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/bg.png">
        <source media="(min-width: 601px)" srcset="/assets/images/bg.png">
        <img loading="lazy" decoding="async" src="/assets/images/bg.png" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
     <!-- ============================================ -->
<!--                   Experience                   -->
<!-- ============================================ -->
<section id="services-1330">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">I got experience</span>
            <h2 class="cs-title">Expertise Across Clinical Operations, IT, and Leadership</h2>
            <p class="cs-text"> Progression from clinical sleep medicine roles to managing multi-location operations and leading IT, compliance, and security projects. </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/money.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Foundations in Sleep Medicine & Clinical Leadership (2005-2014)</h3>
                    <ul>
                        <li>Managed sleep lab operations across multiple locations.</li>
                        <li>Led staffing, training, and scheduling for a team of technicians.</li>
                        <li>Set up new sleep facilities in West Branch and Mount Pleasant.</li>
                        <li>Spearheaded AASM accreditation, ensuring compliance with regulatory standards.</li>
                        <li>Organized and led community outreach efforts, including American Sleep Apnea Association A.W.A.K.E. meetings.</li>
                      </ul>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fist.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3"> IT Specialization & Clinical Operations Management (2014-2019)</h3>
                    <ul>
                        <li>Managed the sleep center operations as the sole staff and coordinator.</li>
                        <li>Implemented a comprehensive policy and procedure manual for the sleep center.</li>
                        <li>Achieved AASM accreditation for the center through rigorous compliance efforts.</li>
                        <li>Administered Microsoft 365, including Azure environment setup and Office 365 management.</li>
                        <li>Organized monthly free CPAP clinics, providing essential services to the local community.</li>
                      </ul>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/percent-drop.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Leadership in IT & Security (2019-Present)</h3>
                    <ul>
                        <li>Designed and deployed the Microsoft 365 Azure tenant environment with endpoint security through Intune and Windows Defender.</li>
                        <li>Developed and maintained a custom-coded public website, focusing on WCAG 2.0 accessibility and security compliance.</li>
                        <li>Spearheaded IT and security policy development, ensuring HIPAA compliance and maintaining high security standards.</li>
                        <li>Coordinated AASM accreditation for sleep centers in McLaren Caro Region and McLaren West Branch.</li>
                        <li>Managed EMR systems and Microsoft Office 365 administration.</li>
                      </ul>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/clipboard.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">IT, Development & Compliance Leadership</h3>
                    <ul>
                        <li><strong>Website Development:</strong> Created a fully custom-coded website for TriCity Lung & Sleep, utilizing HTML and XML, and optimized it for Google Page Speed and SEO.</li>
                        <li><strong>Microsoft Administration:</strong> Designed and implemented SharePoint hubs and file structures to streamline organizational efficiency.</li>
                        <li><strong>Accreditation Success:</strong> Managed the successful accreditation of multiple sleep centers by the AASM and The Joint Commission, ensuring compliance with medical and safety regulations.</li>
                        <li><strong>Cloud & Endpoint Security:</strong> Developed IT security policies utilizing Microsoft Intune and Windows Defender, maintaining a high security score and ensuring HIPAA compliance.</li>
                      </ul>
                </div>
            </li>
        </ul>
    </div>
</section>                              

<!-- ============================================ -->
<!--                    SKILLS                  -->
<!-- ============================================ -->

<section id="services-1201">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">I got skills</span>
                <h2 class="cs-title">Core Competencies: </h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/bag.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Project Management</h3>
                    <p class="cs-item-text">I have extensive experience setting up and managing new clinical facilities and sleep labs, overseeing every aspect from planning to execution. This includes managing staff, coordinating schedules, and ensuring smooth operations across multiple locations. I’ve led complex projects such as the establishment of sleep centers in West Branch and Mount Pleasant, MI, and handled day-to-day operations across several other sites. My role also involved ensuring that all facilities met accreditation standards while managing resources, timelines, and stakeholder communication to meet project goals efficiently.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/money.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Compliance & Leadership</h3>
                    <p class="cs-item-text">I am well-versed in regulatory standards, including HIPAA, OSHA, The Joint Commission, and the American Academy of Sleep Medicine (AASM). Throughout my career, I’ve been responsible for implementing comprehensive compliance frameworks to ensure that operations adhere to these regulations. I’ve successfully developed policy manuals, managed the accreditation process for sleep labs, and collaborated with regulatory bodies to meet strict healthcare standards. My leadership extends to managing teams, training staff on compliance protocols, and fostering a culture of continuous improvement and accountability within clinical settings.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fist.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">IT & Security</h3>
                    <p class="cs-item-text">I specialize in managing and optimizing IT environments, particularly within healthcare settings. My expertise includes the administration of Microsoft 365 and Azure environments, where I’ve set up secure cloud infrastructure and implemented robust endpoint security policies using Microsoft Intune and Windows Defender. I’ve also developed IT policies that ensure compliance with industry standards like HIPAA, improving both security posture and operational efficiency. I have a track record of maintaining high security scores and safeguarding sensitive data, which is critical in healthcare environments.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/percent-drop.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Development</h3>
                    <p class="cs-item-text">I have hands-on experience in web development, having created and maintained custom-coded websites for businesses, including TriCity Lung & Sleep. I’m proficient in HTML, XML, and responsive design, ensuring that the websites I build are not only functional but also optimized for speed, accessibility, and user experience. I focus on mobile-first design principles, search engine optimization (SEO), and ensuring compliance with web accessibility standards like WCAG 2.0. My work ensures that businesses can effectively reach their audience online with secure and user-friendly websites.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/clipboard.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Microsoft Administration</h3>
                    <p class="cs-item-text">With deep experience in managing Office 365 environments, I’ve implemented SharePoint hubs and custom file structures to streamline collaboration across teams and departments. My expertise extends to administering Microsoft 365 solutions, configuring security policies, and ensuring the seamless integration of Microsoft tools within organizations. As the Meditab EMR system administrator, I’ve supported clinical teams by optimizing workflows, troubleshooting system issues, and ensuring that electronic medical records are securely managed and easily accessible to authorized personnel.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/bank.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Clinical Expertise</h3>
                    <p class="cs-item-text">As a Registered Polysomnographic Technologist (RPSGT) since 2006, I bring specialized knowledge in sleep medicine and patient care. In 2015, I further enhanced my qualifications by obtaining the Certified in Clinical Sleep Health (CCSH) credential, which deepened my understanding of sleep disorders and treatment protocols. I have coordinated sleep services across multiple locations, managing sleep studies, equipment, and ensuring compliance with AASM accreditation standards. My clinical experience includes conducting polysomnographic tests, assisting the medical director with physician reports, and performing comprehensive patient care and clinical assessments. Additionally, I’ve led patient care programs, such as CPAP clinics, providing vital support and education to the community on sleep apnea and its treatment. My multifaceted expertise allows me to deliver high-quality care while fostering improved patient outcomes in sleep health.</p>
                </div>
            </li>
        </ul>
    </div>
</section>                                        



   <!-- ============================================ -->
<!--                    Projects                  -->
<!-- ============================================ -->

<section id="services-1728">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">I got projects</span>
                <h2 class="cs-title">We Trained You To Gain</h2>
            </div>
            <p class="cs-text">
                Workouts shift your body from periods of aerobic activity to periods of the best training tools for developing a strong anaerobic activity. When your body is in and “aerobic mode,” your body is using oxygen. When your body is in “anaerobic mode,” your body is using its stored energy instead of oxygen.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Aerobic</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png" alt="man exercising in a class" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Training</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png" alt="man flexing his muscles in a gym" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Body Building</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png" alt="man lifting weights in a gym" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Yoga</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png" alt="woman doing yoga" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Cycling</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png" alt="man cycling on a bike" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                                             
 <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-366">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">I am reachable</span>
            <h2 class="cs-title">So Reach out</h2>
                    </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/kitchen-blue.svg" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Email</h3>
                    
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/rug-blue.svg" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">LinkedIn</h3>
                    
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/house-blue.svg" alt="icon" width="48" height="48">
                        <!--Create a span to make more bubbles with pesudo elements-->
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Phone</h3>
                    
                </a>
            </li>
        </ul>
    </div>
</section>

{% endblock %}